<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">OnlyShoes</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
  <div class="page-container">
    
    <div th:replace="~{layout/fragments/client/header-loja :: header-loja}"></div>

    <main class="main-content-loja">
        <th:block layout:fragment="content"></th:block>
    </main>
    
    <div th:replace="~{layout/fragments/rodape :: rodape}"></div>

  </div>

  <th:block layout:fragment="scripts"></th:block>
</body>
</html>