<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" th:href="@{/client/css/loja-style.css}" />
  <title>Only Shoes</title>
</head>

<body>
  <!-- Rodape -->
  <footer th:fragment="rodape" class="flex h-10 items-center justify-center bg-gray-800 text-gray-400 md:h-20">
    <span>&copy;OnlyShoes</span>
  </footer>
</body>

</html>