<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutpadrao-loja.html}">
<head>
    <title>Erro no Servidor (500)</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="text-center text-white py-20">
            <img th:src="@{/images/500.png}" class="mx-auto block h-64" alt="Erro 500" />
            <h1 class="text-3xl font-bold mt-8">Erro Interno no Servidor</h1>
            <p class="text-gray-400 mt-2">Nossa equipe já foi notificada. Por favor, tente novamente mais tarde.</p>
            <a th:href="@{/}" class="mt-8 inline-block bg-orange-500 hover:bg-orange-600 text-white font-bold py-3 px-6 rounded-md uppercase">
                Voltar para a Página Inicial
            </a>
        </div>
    </div>
</body>
</html>