<!DOCTYPE html>
<html lang="pt-BR" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title layout:title-pattern="$CONTENT_TITLE - OnlyShoes"></title>

  <link rel="stylesheet" type="text/css" th:href="@{/client/css/loja-style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="bg-black">
  <div class="page-container">
    <div th:replace="~{layout/fragments/client/header-loja.html :: header-loja}"></div>

    <main class="main-content-loja">
        <th:block layout:fragment="content"></th:block>
    </main>
    
    <div th:replace="~{layout/utils/rodape.html :: rodape}"></div>
  </div>
  
  <th:block layout:fragment="scripts"></th:block>
</body>
</html>